<header class="class">
	<h1>{{name}}</h1>
	<h2>Class</h2>
	{{{classDescription}}}
	<div>Source: <a href="{{foundAt}}">{{{file}}}</a> | Tests: <a href="/kafe/tests/?module={{name}}">QUnit</a></div>
</header>

{{#if properties}}
<section>
	<h1>Properties</h1>
	{{#properties}}
		{{>props}}
	{{/properties}}
</section>
{{/if}}

{{#if methods}}
<section>
	<h1>Methods</h1>
	{{#methods}}
		{{>method}}
	{{/methods}}
</section>
{{/if}}