<header class="module">
	<h1>{{name}}</h1>
	<h2>module</h2>
	{{{moduleDescription}}}
</header>

<nav>
	<ul>
	{{#moduleClasses}}
		<li><a href="{{../projectRoot}}classes/{{name}}.html">{{displayName}}</a></li>
	{{/moduleClasses}}
	</ul>
</nav>
