<header class="class">
	<h1>{{name}}</h1>
	<h2>Class</h2>
	{{{classDescription}}}
	<div>
		<span>Source: <a href="{{foundAt}}">{{{file}}}</a></span>
		{{!-- <span>Unit test: <a href="/kafe/test/?module={{name}}">Report</a></span> --}}
	</div>
</header>

{{#if properties}}
<section>
	<h1>Properties</h1>
	{{#properties}}
		{{>props}}
	{{/properties}}
</section>
{{/if}}

{{#if methods}}
<section>
	<h1>Methods</h1>
	{{#methods}}
		{{>method}}
	{{/methods}}
</section>
{{/if}}