<section>
	<h1>{{name}}</h1>
	<footer><a href="{{foundAt}}">@{{{line}}}</a></footer>

	{{{methodDescription}}}

	<header>
		<strong>{{name}}</strong>
		{{#if params}}
			<ul>
			{{#params}}

				{{#if optional}}
					<li class="Optional"><code>{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}</code></li>
				{{else}}
					<li><code class="Simple">{{name}}</code></li>
				{{/if}}

			{{/params}}
			</ul>
		{{else}}
			(&nbsp;&nbsp;)
		{{/if}}

		{{#if return}}
			<span>{{returnType}}</span>
		{{/if}}
	</header>







	{{#if params}}
		<section>
			<h1>Parameters:</h1>

			<ul>
			{{#params}}
				<li>
					{{#if optional}}
						<code>[{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}]</code>
						<strong>{{type}}</strong>
						<span>Optional</span>
					{{else}}
						<code>{{name}}</code>
						<strong>{{type}}</strong>
					{{/if}}
					{{{description}}}


					{{#if props}}
						<ul>
						{{#props}}
							<li>
								{{#if optional}}
									<code>[{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}]</code>
									<strong>{{type}}</strong>
									<span>Optional</span>
								{{else}}
									<code>{{name}}</code>
									<strong>{{type}}</strong>
								{{/if}}
								{{{description}}}

								{{#if props}}
									<ul>
									{{#props}}
										<li>
											{{#if optional}}
												<code>[{{name}}{{#if optdefault}} = {{optdefault}}{{/if}}]</code>
												<strong>{{type}}</strong>
												<span>Optional</span>
											{{else}}
												<code>{{name}}</code>
												<strong>{{type}}</strong>
											{{/if}}
											<p>{{{description}}}</p>
										</li>
									{{/props}}
									</ul>
								{{/if}}

							</li>
						{{/props}}
						</ul>
					{{/if}}

				</li>
			{{/params}}
			</ul>
		</section>
	{{/if}}

	{{#return}}
		<section class="Return">
			<h1>Returns:</h1>
			<strong>{{type}}</strong>
			{{{description}}}
		</section>
	{{/return}}

	{{#example}}
		<section>
			<h1>Example:</h1>
			{{{.}}}
		</section>
	{{/example}}
</section>
